# data analysis for snell's law lab

### section 3.2 - refraction

In [18]:
## load modules
import pandas as pd
import numpy as np

In [19]:
## load data 
data = pd.read_csv('refraction-data.csv')
data

   theta_air  theta_water
0         10            7
1         20           15
2         30           22
3         40           30

In [21]:
## index of refraction of air 
n_air = 1.000293

## compute index of refraction of water
## since raw data is in degrees, first convert to radians 
## since the np.sin function works in radians
data["n_water"] = n_air * np.sin(np.deg2rad(data["theta_air"])) / np.sin(np.deg2rad(data["theta_water"]))
data

   theta_air  theta_water   n_water
0         10            7  1.425289
1         20           15  1.321852
2         30           22  1.335125
3         40           30  1.285952

In [30]:
## compute mean 
np.mean(data["n_water"])

1.3420543197063812