In [21]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv('refraction-data.tsv', delimiter='\t')

In [29]:
n_air = 1.000293

data["n_water"] = n_air * np.sin(np.deg2rad(data["theta_i"])) / np.sin(np.deg2rad(data["theta_f"]))
data

   theta_i  theta_f   n_water
0       10        7  1.425289
1       20       15  1.321852
2       30       22  1.335125
3       40       30  1.285952

In [30]:
np.mean(data["n_water"])

1.3420543197063812